body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url('Images/CatBg.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    border: 2px white dotted;
    top: 0px;
    margin: 10px auto;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(45deg, rgba(143, 143, 143, 0.548), rgba(1, 1, 1, 0.763));
    color: white;
    text-align: center;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 255, 255, 0); }
}


.user_input_container {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 90px;
  background-color: rgb(45, 45, 45);
  padding: 30px;
  position: fixed;
  bottom: 10px;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.user_input {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  padding: 25px;
  border-radius: 20px;
  width: 80%;
}

.user_input:hover, header:hover {
    transition: 0.30s;
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.2);  
}

button {
    margin: 10px 10px 10px 30px;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px;
}

button:hover {
    transition: 0.30s;
    transform: scale(1.20);
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.61);
    background-color: rgb(58, 58, 58);
    color: white;
}

.chat-history {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.message-bubble {
    background: linear-gradient(45deg, rgba(53, 65, 66, 0.847), rgba(26, 26, 27, 0.616));
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*for smooth hover transition*/
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.475);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 20px;
    margin: 10px 30px 10px 30px;
    padding: 20px;
    text-align: center;  
}

.message-bubble:hover, .user_input_container:hover {  
    transition: 0.30s;
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgb(255, 255, 255);
}

.user-message {
    line-height: 1.5;
    color: white;
    border-radius: 20px 20px 0 20px;
    display: flex;
    align-self: flex-end;
}

.bot-message {
    line-height: 1.5;
    color: white;
    border-radius: 20px 20px 20px 0;
    display: flex;
    align-self: flex-start;
}

.adjust {
  float: left;
  border-radius: 10%;
  width: 80px; 
  height: 80px; 
  border-radius: 10%;
}

.animate-user {
  animation: fadeToLeft 0.8s ease-out forwards;
}

.animate-bot {
  animation: fadeToRight 0.8s ease-out forwards;
}

@keyframes fadeToLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 880px) {
    .user_input_container {
        left: 10px;
        margin: 10px auto;
        width: 80%;
    }

    .message-bubble {
        margin: 10px;
    }

    h2 {
      font-size: 13px;
    }

    .adjust {
      width: 60px;
      height: 60px;
    }

}